# .NET / MAUI
bin/
obj/
*.user
*.suo
.vs/
packages/
*.userprefs

# Test results
TestResults/
coveragereport/

# Android
*.apk
*.aab
*.keystore

# iOS
*.ipa

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# appsettings
**/appsettings.Development.json

# Code coverage
coverage/