<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
	    <Exclude>[LogiFlow.Mobile]LogiFlow.Mobile.Views.*,[LogiFlow.Mobile]LogiFlow.Mobile.Platforms.*,[LogiFlow.Mobile]LogiFlow.Mobile.MauiProgram,[LogiFlow.Mobile]LogiFlow.Mobile.App,[LogiFlow.Mobile]LogiFlow.Mobile.AppShell</Exclude>
          <ExcludeByAttribute>ExcludeFromCodeCoverage</ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>